In [3]:
import numpy as np 
import pandas as pd

In [9]:
headers = [
    "symboling", "normalized-losses", "make", "fuel-type", "aspiration",
    "num-of-doors", "body-style", "drive-wheels", "engine-location",
    "wheel-base", "length", "width", "height", "curb-weight", "engine-type",
    "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke",
    "compression-ratio", "horsepower", "peak-rpm", "city-mpg",
    "highway-mpg", "price"
]

In [85]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data", names = headers)

In [13]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [35]:
s = pd.Series([1,2.5,8,9,5,1],['c','a','b','d','e','f'])
s

c    1.0
a    2.5
b    8.0
d    9.0
e    5.0
f    1.0
dtype: float64

In [36]:
s = pd.Series(data=[1,2.5,8,9,5,1], index=['c','a','b','d','e','f'])
s

c    1.0
a    2.5
b    8.0
d    9.0
e    5.0
f    1.0
dtype: float64

In [41]:
s1 = pd.Series(index=['F','a','b','d','e','f'], data=[1,2.5,8,9,5,1])
s1

F    1.0
a    2.5
b    8.0
d    9.0
e    5.0
f    1.0
dtype: float64

In [43]:
s2 = s+s1

In [45]:
s2.values

array([nan,  5., 16., nan, 18., 10.,  2.])

In [52]:
s3 = s >= 3
s3

c    False
a    False
b     True
d     True
e     True
f    False
dtype: bool

In [53]:
s[s3]

b    8.0
d    9.0
e    5.0
dtype: float64

In [60]:
s2[s2>0]

a     5.0
b    16.0
d    18.0
e    10.0
f     2.0
dtype: float64

In [61]:
diem = pd.Series([8,9,6,5,10],['Toan','Ly','Hoa','Van','Anh'])
diem

Toan     8
Ly       9
Hoa      6
Van      5
Anh     10
dtype: int64

In [62]:
diem[diem < 8]

Hoa    6
Van    5
dtype: int64

In [65]:
diem[(diem <=8) & (diem>=2)]

Toan    8
Hoa     6
Van     5
dtype: int64

In [69]:
'Toan' in diem

True

In [71]:
8 in diem.values

True

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB